
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: gray
}

.header {
    background-color: #707070;
    color: white;
    padding: 30px;
    text-align: center;
       
}

.header h1 {
    font-size: 1.2em;
    font-weight: normal;
}

.header h2 {
    font-size: 2.5em;
    padding-bottom: 20px;
}

.header h3 {
    font-size: 0.9em;
    font-weight: normal;
    padding-bottom: 30px;
}

.nav ul {
    display: flex;
    justify-content:center;
    list-style: none;
}

.nav ul li {
    margin: 0 30px ;
    padding: 10px 25px;
    background-color: white;
    border-radius: 5px;
}

.nav ul li a {
    padding: 10px 30px;
    text-decoration: none;
    color: gray;
    font-size: 0.8em;
}

.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    padding-bottom: 20px;
    
}

.conteudo {
    width: 60%;
    padding: 20px;
}

.conteudo h4,p {
    margin-bottom: 30px;
}

.formulario {
    width: 40%;
    padding: 20px;
}

#form {
    display: flex;
    flex-direction: column;
}

#fem {
    margin-left: 20px;
}

#form label {
    padding-bottom: 2px;
    font-size: 0.8em;
}

#form input {
    padding: 5px;
    border: 1px solid gray;
}

#form button {
    padding: 10px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 1em;
    color: gray;
}

.titulo {
    display: flex;
    justify-content: center;
}

.titulo div {
    margin-top: 11px;
    width: 455px;
    height: 1px;
    background-color:gray;
}

.titulo h5 {
    font-size: 1.3em;
    padding: 0 20px;
}

.containerSelecao {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
     margin: 10px;
    width: 23%;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}

.img {
    height: 180px;
    border: 1px solid gray;
}

.card .nome {
    margin: 5px;
}
.card .descricao {
    margin: 5px;
    padding-bottom: 5px;
}

.card .span {
    margin: 5px;
}

.card .parc {
    padding-bottom: 3px;
}

#comprar {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid gray;
    color: gray;
    background-color: white;
    font-size: 1em;
}

.maisProdutos {
    margin: auto;
    padding: 10px 20px;
    background-color: white;
    color: gray;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

.indicar {
    margin: 100px 0px 40px 0px;
    
}

.indicar h3 {
    text-align: center;
    font-size: 1em;
    margin: 30px;
    font-weight: normal;
}

.compartilhe {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
    align-items: center;
    
}

.compartilhe .label {
    margin-left: 50px;
}

.compartilhe #input {
    padding: 5px 40px;
}

.enviarFormulario {
   margin-top: 30px;
   margin-bottom: 50px;
    padding: 10px 20px;
    background-color: white;
    color: gray;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

footer {
    background-color: #707070;
    color: white;
    text-align: center;
    height: 100px;
    padding: 50px;
}

